<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web App With Database</title>
  </head>
  <body>
    <h1>Register for Sports</h1><br>
    <form action="/registrants" method="post">
        <input type="text" name="name" placeholder="Name" autofocus >
        {% for sport in sports %}
        <input type="radio" name="sport" value="{{sport}}">{{sport}}
        {% endfor %}
        <input type="submit">
    </form>
  </body>
</html>