<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web App With Database</title>
  </head>
  <body>
        <div><h1>Registrants List</h1></div>
        <table>
          <tr>
            {% for reg in registrants%}
            <th>
              <h2>{{reg.name}}</h2>
            </th>
            <th>
              <h2>{{reg.sport}} </h2>
            </th>
          </tr>
          {% endfor %}
        </table>
  </body>
</html>